<script type="text/template" id='dispensers-template'>
	<div class='row'>
		<div class='col-lg-6'>
			<a href="/dispensers/id/{{id}}" class=''>
				<div class='panel panel-default panel-link'>
					<div class='panel-body'>
						<img src='/assets/img/dispenser-icon.png' width=80 height=80 />
					
						<span style="padding-left:10px;">									
							<strong>{{id}}</strong>										
						</span>						
					</div>
				</div>
			</a>
		</div>
	</div>
</script>
<script type="text/template" id='events-template'>
	<div class='row' style={{&style}}>
		<div class='col-lg-12 panel-link' style="border-bottom: 1px #999 solid; margin-top: 4px; margin-left: 4px;">
			<a href={{link_url}} class=''>
				<div>								
					<p>{{timestamp}}: <strong>{{title}}</strong> - {{description}}</p>														
				</div>
			</a>
			
		</div>
	</div>
</script>
<script type="text/template" id='tags-template'>
	<div class='row' style={{&style}}>
		<div class='col-lg-8  col-lg-offset-2 panel panel-default panel-link'>
			<a href='/users/tags/{{uid}}' class='panel-body'>
				<div>								
					<p><strong>ID:</strong> {{uid}}</p>														
				</div>
				<div>								
					<p><strong>Crédito:</strong> ${{credit}}</p>														
				</div>
				<div>								
					<p><strong>Cliente:</strong> {{user.name}}</p>														
				</div>
			</a>
			
		</div>
	</div>
</script>
<script type="text/template" id="add-credit-success-template">
	<div class="alert alert-success alert-dismissable">
	  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	  Crédito actualizado
	</div>
</script>

<script src='/assets/js/newine.js'></script>
<script src='/assets/js/index.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-2'>

		</div>
		<div class='col-lg-4'>
			<h2>Dispensers</h2>
		</div>
		<div class='col-lg-6'>
			<h2>Actividad</h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-2'>
			<a id='toggle-dispenser-modal' class='btn btn-success'>Nuevo Dispenser</a>
		</div>
		<div class='col-lg-4'>
			<div id='dispensers-container'>

			</div>
		</div>
		<div class='col-lg-6'>
			<div id='events-container'>

			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="new-dispenser-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action='/dispensers' method='post' class='form-horizontal'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Nuevo Dispenser</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-lg-12'>
							<div class="form-group">
				            	<label for='dispenser[uid]' class='col-lg-3 control-label'>Nro. de Serie</label>
				            	<div class='col-lg-9'>
				            		<input type='text' name='dispenser[uid]' class='form-control'>
				            	</div>
				            </div>
							<div class="form-group">
				            	<label for='dispenser[n_bottles]' class='col-lg-3 control-label'>Botellas</label>
				            	<div class='col-lg-2'>
				            		<select name='dispenser[n_bottles]' class='form-control'>
				            			<option value=4>4</option>
				            			<option value=8>8</option>
				            		</select>
				            	</div>
							</div>
							<div class="form-group">
				            	<label for='dispenser[n_temperature_controls]' class='col-lg-3 control-label'>Controles de temperatura</label>
				            	<div class='col-lg-2'>
				            		<select name='dispenser[n_temperature_controls]' class='form-control'>
				            			<option value=1>1</option>
				            			<option value=2>2</option>
				            		</select>
				            	</div>
							</div>
						</div>
					</div>
				</div>
				<div class='modal-footer'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
          			<button class='btn btn-primary'>Crear</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="nfc-tag-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action='/tags' method='post' class='form-horizontal'>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Tarjeta detectada</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-lg-12'>
							<div id="tag-alerts-container">
							</div>
							<div id='tags-container'>
							</div>

							<div id='existing-card-group'>
								<div class="form-group">
					            	<label for='credit' class='col-lg-3 control-label'>Recarga:</label>
					            	<div class='col-lg-4'>
					            		<input type='number' name='credit' class='form-control' id="credit_to_add">
					            	</div>
					            	<a id='add_credit' class='btn btn-success btn-med'><span class='glyphicon glyphicon-plus'></span></a>
					            </div>
					            <div class="form-group">
					            	<a id='format_tag' class='btn btn-danger btn-sm pull-right'><span class='glyphicon glyphicon-warning-sign'></span> Formatear</a>
					            </div>
					        </div>
				        	<div class='new-card-group'>
				        		<input type='hidden' name='tag[uid]' id='tag_uid_hidden' value=null>
				        		<div class="form-group">
					            	<label for='tag[credit]' class='col-lg-3 control-label'>Carga inicial:</label>
					            	<div class='col-lg-4'>
					            		<input type='number' name='tag[credit]' class='form-control'>
					            	</div>
					            	<a id='add_credit' class='btn btn-success btn-med'><span class='glyphicon glyphicon-plus'></span></a>
					            </div>
					            <div class="form-group">
					            	<div class='col-lg-8 col-lg-offset-3'>
						            	<a id='existing_user' class='btn btn-success btn-med active'>Asignar a usuario</a>
						            	<a id='create_new_user' class='btn btn-success btn-med'>Nuevo usuario</a>
						            </div>
					            </div>

					            <div id='existing_user_fields'>
						            <div class="form-group">
						            	<label for='user_search' class='col-lg-3 control-label'>Buscar usuario:</label>
						            	<div class='col-lg-4'>
						           			<input type='search' name='user_search' id='user_search' class='form-control'>
						           		</div>
						           		<a id='search_users' class='btn btn-success btn-med'><span class='glyphicon glyphicon-ok'></span></a>
						           	</div>

						            <div id='users-for-tag' class='form-group'>
						            	<div class='col-lg-4 col-lg-offset-3'>
							        		<select name='tag[user_id]' id='tag_user_id' size=5 class='form-control'>

							        		</select>
							        	</div>
						        	</div>
						        </div>
						        <div id='new_user_fields'>
						        	<input type='hidden' name='new_user' id='new_user_hidden' value=false>
						        	<div class="form-group">
						            	<label for='user[name]' class='col-lg-3 control-label'>Nombre:</label>
						            	<div class='col-lg-4'>
						           			<input type='text' name='user[name]' class='form-control'>
						           		</div>
						           	</div>
						           	<div class="form-group">
						            	<label for='user[surname]' class='col-lg-3 control-label'>Apellido:</label>
						            	<div class='col-lg-4'>
						           			<input type='text' name='user[surname]' class='form-control'>
						           		</div>
						           	</div>
						           	<div class="form-group">
						            	<label for='user[dni]' class='col-lg-3 control-label'>DNI:</label>
						            	<div class='col-lg-4'>
						           			<input type='text' name='user[dni]' class='form-control'>
						           		</div>
						           	</div>
						           	<div class="form-group">
						            	<label for='user[email]' class='col-lg-3 control-label'>Email:</label>
						            	<div class='col-lg-4'>
						           			<input type='text' name='user[email]' class='form-control'>
						           		</div>
						           	</div>
						           	<div class="form-group">
						            	<label for='user[phone]' class='col-lg-3 control-label'>Teléfono:</label>
						            	<div class='col-lg-4'>
						           			<input type='text' name='user[phone]' class='form-control'>
						           		</div>
						           	</div>

						           	<div class="form-group">
										<div class="col-sm-3">
											<div class="checkbox">
									    		<label>
									        		<input type="radio" name='user[permissions]' value='customer' checked> Cliente
									        	</label>
									    	</div>
									    </div>
									    <div class="col-sm-3">
											<div class="checkbox">
									    		<label>
									        		<input type="radio" name='user[permissions]' value='superclient' checked> SuperCliente
									        	</label>
									    	</div>
									    </div>
									    <div class="col-sm-3">
											<div class="checkbox">
									    		<label>
									        		<input type="radio" name='user[permissions]' value='employee'> Empleado
									        	</label>
									    	</div>
									    </div>
									    <div class="col-sm-3">
											<div class="checkbox">
									    		<label>
									        		<input type="radio" name='user[permissions]' value='manager'> Gerente
									        	</label>
									    	</div>
									    </div>
									</div>
						        </div>
				        	</div>
				        	

						</div>
					</div>
				</div>
				<div class='modal-footer new-card-group' id='tag_form_buttons'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
          			<button class='btn btn-primary'>Guardar</button>
				</div>
			</form>
		</div>
	</div>
</div>
