<div class="row">
    <div class="col-md-offset-5 col-md-3 well" style="margin-top: 5%">
        
        <h4>Bienvenidos</h4>
        <hr>
        <form class="form" action="/login" method="post">
            <div class="form-group">
                <input type="email" class="form-control" name="username" placeholder="Email" value="<%= username %>">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
        </form>

    </div>
</div>
