html, body {
	height: 100%;
}

body {
	padding-top: 50px;
	overflow-y: scroll; 
}
#wrap {
	min-height: 100%;

	padding-bottom: 20px;
}
#main {
	overflow:auto;
	padding-bottom: 100px; /* this needs to be bigger than footer height*/
   /* background-image: url('../img/bg.jpg');*/
}

#logo {
	float: left;
	width: 168px;
	height: 30px;
	text-indent: -100%;
	background: url('logo.png');
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 20px;
}

.footer {
  text-align: center;
  padding: 10px 0;
 
  background: #414138;

  position: relative;
  margin-top: -100px; /* negative value of footer height */
  height: 100px;
  clear:both;
}
.footer a {
  color: #FFF;
}

.panel-link {
  -webkit-transition: -webkit-transform 0.1s;
}

.panel-link:hover {
  box-shadow: 1px 1px 4px 1px #666;
  cursor: pointer;
  -webkit-transform: scale(1.02);
}

.hover-grow {
  -webkit-transition: -webkit-transform 0.1s;
}

.hover-grow:hover {
  box-shadow: 1px 1px 4px 1px #666;
  cursor: pointer;
  -webkit-transform: scale(1.02);
}

.panel-link:active {
  box-shadow: none;
}

.panel-link a {
	color: #000;
}
.panel-link {
	color: #000;
}

#events-container {
	border: 1px #ddd solid;
	border-radius: 4px;
	overflow-y: scroll;
	height: 400px;
	overflow-x: hidden;
}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

.volume-outer-4 {
    /*width: 100%;*/
    width: 45px;
    height: 160px;
   /* border: 2px solid #ccc;*/
    overflow: hidden;
    margin-left: 0px;
    margin-top: 157px;	
    position: absolute;
    z-index: 0;
   /* -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    background-color: #EEE;
}

.volume-outer-8 {
    /*width: 100%;*/
    width: 45px;
    height: 160px;
   /* border: 2px solid #ccc;*/
    overflow: hidden;
    margin-left: 0px;
    margin-top: 180px;  
    position: absolute;
    z-index: 0;
 /*   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    background-color: #EEE;
}

.dispenser-fg-4 div:first-child {
  margin-left: 6px;
}

.dispenser-fg-8 div:first-child {
  margin-left: 8px;
}


.bottle.active > .volume-outer {
   background-color: #999;
}
.bottle.active .volume-inner {
   background-color: #770000;
}

.bottle-cover {
 /* background-image:url('/assets/img/bottle_cover.png');
    background-repeat:no-repeat;*/
    z-index: 10;
    width: 100%;
    height: 100%;
}

.volume-inner, .volume-inner div {
    width: 100%;
    overflow: hidden;
    left: -2px;
    position: absolute;
}

.volume-inner {
    z-index: -1;
    /*border: 2px solid #999;*/
    border-top-width: 0;
    background-color: #390000;
    
    bottom: 0;
    height: 0%;
}

.dispenser-bg {

    min-height: 220px;
  
    overflow: hidden;
    margin-left: 0px;
    margin-top: 20px; 
    position: absolute;
    z-index: -20;

}

.dispenser-fg {
      z-index: -2;

    
    bottom: 0;

}

.volume-inner div {
    border: 2px solid #390000;
    border-bottom-width: 0;
    background-color: #390000;
    
    top: 0;
    width: 100%;
    height: 5px;
}
#bottle-holders-container input::-webkit-outer-spin-button,
#bottle-holders-container input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.loading-header {
  width: 100%;
  background-color: #EEE;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  vertical-align: middle;
}

.ajax-loader-1 {
  background-image:url('/assets/img/ajax-loader.gif');
  background-repeat:no-repeat;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
  cursor: default; }
  .apple_pagination > .pagination{
    margin: 5px 0px;
  }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.new-dispenser-button{
  margin-bottom: 20px;
}
.dispenser-panel{

  margin-left: auto;
  margin-right: auto;
}
.centered{
  text-align: center;
}
.no-padding{
  padding: 0px;
}
.wine-search-button{
  margin-left: auto;
  margin-right: auto
}