<div class="form-group">
	<label for='variety[name]' class='col-lg-3 control-label'>Nombre</label>
	<div class='col-lg-6'>
  	<input type="text" class='form-control' name="variety[name]" value="<%= variety.name %>" required/>
	</div>
</div>