<div class="form-group">
	<label for='brand[name]' class='col-lg-3 control-label'>Nombre:</label>
	<div class='col-lg-6'>
		<input type='text' name='brand[name]' class='form-control' value='<%= brand.name %>' required>
	</div>
</div>