<div class="form-group">
  <label for='staff[name]' class='col-lg-4 control-label'>Nombre Completo:</label>
  <div class='col-lg-6'>
    <input type='text' name='staff[name]' class='form-control' value='<%= staff.name %>' placeholder='Juan Perez' required>
  </div>
</div>
