<script type="text/template" id='dispensers-template'>
	<div class='row'>
		<div class='col-lg-10 col-offset-2'>
			<div class='panel panel-default'>
				<div class='panel-body'>
					
						<img src='/assets/img/dispenser-icon.png' width=50 height=50 />
					
						<span style="padding-left:10px;">									
							<strong>{{id}}:</strong> {{uid}}										
						</span>				
				</div>
			</div>
		</div>
	</div>
</script>
<script type="text/template" id='bottle-holders-template'>
	
		<div class='col-lg-3'>
			<div class='panel panel-default' style='height: 400px;'>
				<div class='panel-body'>
						<div class='row'>
							<img src='/assets/img/bottle-icon.png' width=50 height=50 />
						
							<span style="padding-left:10px;">									
								<strong>{{dispenser_index}}:</strong> {{wine_name}}									
							</span>
							<button type="button" class="btn btn-default btn-sm change-wine" data-bottle-holder-id={{id}} data-wine-id={{wine.id}}>
							  <span class="glyphicon glyphicon-transfer"></span>
							</button>
							<span style="padding-left:70px;">									
								{{wine.variety}} {{wine.vintage}}									
							</span>
						</div>
						<div class='row'>
							<div class='col-lg-4'>
								<div class="volume-outer">
							        <div class="volume-inner" data-progress="{{volume_percent}}%" data-id={{id}}>
							            <div></div>
							        </div>        
							    </div>
							</div>
							<div class='col-lg-8' style='padding-left: 5px; padding-right: 5px;'>
								<form class='form-inline'>
									<div class='col-lg-6' style='margin-top: 40px;'>
										<label>ml</label><input type="number" name="serving_volume_low" class='form-control' value={{serving_volume_low}}>
									</div>
									<div class='col-lg-6' style='margin-top: 40px;'>
										<label>$</label><input type="number" name='serving_price_low' class='form-control' value={{serving_price_low}}>
									</div>
									<div class='col-lg-6' style='margin-top: 30px;'>
										<label>ml</label><input type="number" name="serving_volume_low" class='form-control' value={{serving_volume_med}}>
									</div>
									<div class='col-lg-6' style='margin-top: 30px;'>
										<label>$</label><input type="number" name='serving_price_low' class='form-control' value={{serving_price_med}}>
									</div>
									<div class='col-lg-6' style='margin-top: 30px;'>
										<label>ml</label><input type="number" name="serving_volume_low" class='form-control' value={{serving_volume_high}}>
									</div>
									<div class='col-lg-6' style='margin-top: 30px;'>
										<label>$</label><input type="number" name='serving_price_low' class='form-control' value={{serving_price_high}}>
									</div>
								</form>
							</div>
						</div>						
				</div>
			</div>
		</div>
	
</script>
<script type="text/template" id='wines-template'>
	<div class='row' style={{&style}}>
		<div class='col-lg-12 panel-link select-wine' data-wine-id={{id}}
		style="border-bottom: 1px #999 solid; margin-top: 4px; margin-left: 4px;">							
			<p><strong>{{name}}</strong> - {{variety}} {{vintage}}</p>														
		</div>
	</div>
</script>
<script src='/assets/js/newine.js'></script>
<script src='/assets/js/dispensers_show.js'></script>
<div class='container'>
	<div class='row'>
		<div class='col-lg-4 col-lg-offset-2'>
			<h2> Dispenser nro. <%= @dispenser.id %></h2>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-12'>
			<div id='bottle-holders-container'>

			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="change-wine-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Cambiar vino</h4>
				</div>
				<div class="modal-body">
					<div class='row'>
						<div class='col-lg-12'>
							<div class='panel panel-default' style='overflow-y: scroll; height: 350px;'>
								<div id="wines-container">
					            	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class='modal-footer' style='margin-top: 0px;'>
					<a href="#" class="btn btn-default" data-dismiss="modal">Cancelar</a>
					<a class="btn btn-warning" id='leave-empty'>Vacío</a>
          			<button class='btn btn-primary' id='save-wine-change'>Guardar</button>
				</div>
			
		</div>
	</div>
</div>
